body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background.jpeg') no-repeat center center fixed;
    background-size: cover;
}

h2 {
    color: #fff;
    background-color: #4caf50; /* Change this to your desired background color */
    padding: 10px; /* Add padding for better visual appearance */
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

/* Navigation menu in home.html */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    background-color: #4caf50;
}

a:hover {
    background-color: #45a049;
}
